.button{
    margin: 30px 0px 30px 0px;

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        padding: 10px 20px 10px 20px;
        border: 1px solid #3b3b3b;
    }

    a:hover{
        color: white;
        background-color: #3b3b3b;
        border: none;
    }
}