
    <div class="product_item" (click)='goToProd(item._id)'>
        <div class="product_item_img">
            <img src="https://nodejs-final-mysql.herokuapp.com{{item.image}}" alt="" *ngIf='item'>
        </div>
    
        <div class="product_item_info">
            <h5>{{item.name}}</h5>
            <div class="rating">
                <span class="star star{{item.rating}}"></span>
                <span>{{item.rating}} reviews</span>
            </div>
            <p>{{item.price}} $</p>
        </div>
    </div>

