.product_title h2{
    color: rgb(54, 54, 54);
    margin-top: 50px;
    margin-bottom: 30px;
}

.product_body{
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-items: flex-start;
    flex-wrap: wrap;
    width: 1220px;

    .product_card{
        width: 21%;
        min-height: 300px;
        max-height: auto;
        border: 1px solid rgb(185, 185, 185);
        border-radius: 3px;
        margin-top: 15px;
        padding: 20px;
        margin-right: 15px;
    }
}

.product_btn{
    margin-top: 30px;

    button{
        width: 25px;
        height: 25px;
        background-color: white;
        border: none;
    }

    button:hover{
        background-color: black;
        color: white;
    }
}
