.main_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        border: none;

        .image{
            width: 60%;
            min-height: 400px;
            max-height: 400px;

            img{
                width: 100%;
            }
        }

        .info{
            width: 30%;

            div{
                width: 100%;
                border-bottom: 1px solid rgb(185, 185, 185);
                padding: 10px 0px 10px 0px;
            }

            .review{

                .star {
                    color: rgb(255, 178, 13);
                    font-size: 22px;
                    margin-right: 15px;
                    content : '★☆☆☆☆';
                }
                        
                .star0:before{
                    content : '☆☆☆☆☆';
                }
                        
                .star1:before {
                    content : '★☆☆☆☆';
                }
                        
                .star2:before {
                    content : '★★☆☆☆';
                }
                        
                .star3:before {
                    content : '★★★☆☆';
                }
                        
                .star4:before {
                    content : '★★★★☆';
                }
                        
                .star5:before {
                    content : '★★★★★';
                }
            }

            .description{
                border: none;
            }
            
        }
    }


    .card{
        width: 200px;
        height: 200px;
        border: 1px solid rgb(185, 185, 185);
        border-radius: 0%;

        div{
            width: 100%;
            height: 25%;
            border-bottom: 1px solid rgb(185, 185, 185);
            padding: 0px 15px 0px 15px;
        }

        .price,
        .status,
        .qty{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .qty{
                select{
                    width: 70px;
                    height: 30px;
                    border: none;
                    background-color: rgb(233, 233, 233);
                    color: black;
                    border-radius: none;
                    margin: 0;
                }
        }

        .button{
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                width: 100%;
                height: 70%;
                background-color: black;
                color: white;
                border: none;
                text-transform: uppercase;
                font-size: 14px;
            }

            button:hover{
                background-color: #3b3b3b;
            }
        }

        .button{
            border-bottom: none;
        }
    }
    
}
