<div class="main_content" *ngIf='product'>

    <div class="description">
        <div class="image">
            <img src="https://nodejs-final-mysql.herokuapp.com{{product.products.image}}" alt="">
        </div>

        <div class="info">

            <div class="title">
                <h3>{{product.products.name}}</h3>
            </div>
            <div class="review">
                <span>{{product.products.numReviews}}</span>
            </div>
            <div class="price">
                <span>{{product.products.price}} $</span>
            </div>
            <div class="description">
                <span>{{product.products.description}}</span>
            </div>

        </div>
    </div>

    <div class="card">

        <div class="price">
            <span>Price:</span>
            <span>{{product.products.price}} $</span>
        </div>
        <div class="status">
            <span>Status:</span>
            <span>in stock</span>
        </div>
        <div class="qty">
            <span>Qty:</span>
            <app-select [product]='product' (sendSelectedCount)='takeSelectedCount($event)'></app-select>
        </div>
        <div class="button">
            <button (click)='buyProduct(product)'>Add to card</button>
        </div>
    
    </div>

</div>
