footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    padding: 40px 0;
    font-size: 18px;
    color: rgb(99, 96, 96);
}