
<div class="container">
    
    <h2>SHOPPING CART</h2>

    <div class="cart_content">
        
        <div class="cart_row">
            <div class="cart_item">
                <app-cart-item (newCount)='countInCart($event)'></app-cart-item>
            </div>
        </div>
        
        
        <div class="cart_total">
            <div class="total_content">
                <div class="title">
                    <h2>Subtotal ({{totalCount}}) items</h2>
                </div>
                <div class="price">
                    <span>{{totalPrice}} $</span>
                </div>
            </div>
            <div class="total_button">
                <button>Procced to checkout</button>
            </div>
        </div>

    </div>

</div>

