<div class="slider">

    <div class="container">

        <div class="slider_content">

            <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
                <div class="item">
                    <h2>APPLE AIRPODS MAX - SPACE GRAY ($699.99)</h2>
                    <div id="one"></div>
                </div>
                <div class="item">
                    <h2>CANON EOS 250D KIT 18-55 IS STM BLACK ($733.93)</h2>
                    <div id="two"></div>
                </div>
                <div class="item">
                    <h2>APPLE WATCH SERIES 6 ($699.99)</h2>
                    <div id="three"></div>
                </div>
            </owl-carousel>

        </div>
    
    </div>

</div>

    

