<div class="slider">

    <div class="container">
        
        <div class="slider_content" *ngIf='items'>

            <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
               
                <!-- <div class="item_content"> -->
                    <!-- <div class="item"  *ngFor='let item of items'>
                        <h2>{{item.name}}</h2>
                        <div id="image">
                            <img src="https://nodejs-final-mysql.herokuapp.com{{item.image}}" alt="" *ngIf='items'>
                        </div>
                    </div> -->
                <!-- </div> -->

                <ng-container *ngFor='let item of items'>
                    <ng-template class="item">
                        <h2>{{item.name}}</h2>
                        <div id="image">
                            <img src="https://nodejs-final-mysql.herokuapp.com{{item.image}}" alt="" *ngIf='items'>
                        </div>
                    </ng-template>
                </ng-container>
                
            </owl-carousel>

        </div>
    
    </div>

</div>

    

