
<div class="cart_item" *ngFor='let item of products, let i = index' [item]='item' >
   
   <table>
      <tr>
         <td id="image">
            <div class="image">
               <img src="https://nodejs-final-mysql.herokuapp.com{{item.products.image}}" alt="" *ngIf='item.products'>
            </div>
         </td>
         <td id="name">
            <span>{{item.products.name}}</span>
         </td>
         <td id="price">
            <span>{{item.products.price}} $</span>
         </td>
         <td id="select">
            <app-select [product]='item' (sendSelectedCount)='selectToCartItem($event)'></app-select>
         </td>
         <td id="icon">
            <div class="icon">
               <i class="fas fa-trash-alt" (click)='deleteBasketItem(i)'></i>
            </div>  
         </td>
      </tr>
   </table>

</div>
